<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="section-heading">
                <h2>Nos <em>Services</em></h2>
                <span>Nous proposons nos services adaptés à vos besoins</span>
                <a class="nav-link" href="{{ path('app_contact') }}" tabindex="-1">Contactez-nous!</a>
            </div>
            </div>

            {% for card in dataCards %}
                <a {% if card.link is defined %} href="{{ card.link }}" {% else %} href="#" {% endif %} class="col-md-12 col-lg-4">
                    <div class="service-item">
                        <div class="card-image col-12" style="background-image: url({{ card.image }}); background-size:cover; height:200px; background-repeat: no-repeat;"></div>
                        <div class="down-content black">
                            <h4>{{ card.title }}</h4>
                            <p>{{ card.text }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<!--
<script data-turbo-eval = "true" type="module">

    var elementOne = document.getElementById('card1');

    elementOne.addEventListener('click', event => {
        window.location.href = elementOne.getAttribute("data-link");
    });

    var elementTwo = document.getElementById('card2');

    elementTwo.addEventListener('click', event => {
        window.location.href = elementTwo.getAttribute("data-link");
    });

    var elementThree = document.getElementById('card3');

    elementThree.addEventListener('click', event => {
        window.location.href = elementThree.getAttribute("data-link");
    });
                
</script>
-->
