

<div class="row">
    <div class="col-md-12 col-lg-6">

      {{ form_start(form) }}
      {{ form_row(form.lastname) }}
      {{ form_row(form.firstname) }}
      {{ form_row(form.dateDeNaissance) }}
      {{ form_row(form.codepostal) }}
      {{ form_row(form.pays) }}
      {{ form_row(form.phonenumber) }}
      {{ form_row(form.email) }}
      {{ form_row(form.message) }}


    </div>
      
    <div class="col-md-12 col-lg-6">
      {{ form_rest(form) }}
      {{ form_end(form) }}      

      {%  include 'blocks/_block.html.twig' with {'component' : 'partials/_simulator' , 'bg': 'bg-lightgrey', 'color': 'white' , 'classe' : 'simulator'} %}
          
    </div>
  </div>
</div>
