<div {% if classe is defined %} id="{{ classe }}" {% endif %}>

    <!-- Background photo -->
    <div style="background-image: url( {{ dataImage.image }} )" class="w3-display-container">
        <div {% if color is defined %} style="color:{{ color }}" {% endif %} class="w3-center">

            {% if dataImage.title is defined %} 
                <h2 class="text-center">{{ dataImage.title }}</h2>
            {% endif %}

            {% if dataImage.text is defined %} 
                <h3 class="text-center">{{ dataImage.text }}</h3>
            {% endif %}
            
          
        </div>
    </div>

</div>