<nav class="navbar fixed navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a data-turbo="false" class="navbar-brand" href="{{ path('app_homepage') }}">Page d'accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ path('app_simulator') }}">Simulateur</a>
        <a class="nav-link" href="{{ path('app_request') }}">Demande de prêt</a>
        <a class="nav-link" href="{{ path('app_about') }}">A propos</a>
        <a class="nav-link" href="{{ path('app_contact') }}" tabindex="-1">Contact</a>
      </div>
    </div>
  </div>
</nav>


