{# templates/emails/contact.html.twig #}

<h3>Message envoyé depuis le formulaire de contact</h3>

<p>Nom de famille : {{ formSend.lastname }} </p>
<p>Prénom : {{ formSend.firstname }} </p>
<p>Email : {{ formSend.email }} </p>
<p>Numéro de téléphone : {{ formSend.phonenumber }} </p>
<p>Message : {{ formSend.message }} </p>